.Link {
  text-decoration: none;
  color: var(--cyan);
  word-break: break-all;
}

.Link_button {
  text-decoration: none;
}

.Link_card {
  text-decoration: none;
  display: flex;
  color: var(--foreground);

  & > * {
    flex-grow: 1;
  }
}
