.Button {
  background-color: transparent;
  color: var(--foreground);

  cursor: pointer;

  position: relative;

  text-align: center;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  box-sizing: border-box;

  gap: 8px;

  min-width: calc(var(--button-size) * 3);
  height: var(--button-size);
  font-size: calc(var(--button-size) / 2);
  padding: calc(var(--button-size) / 4);

  & > span {
    line-height: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: inherit;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
  }

  &.Button_active:before,
  &[disabled]:before,
  &:hover:before {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &.Button_active,
  &[disabled],
  &:active {
    box-shadow: var(--shadow-inset);
    & > svg,
    & > span {
      transform: scale(0.95);
    }
  }
}

.Button[disabled] {
  cursor: not-allowed;
}

.Button_loading[disabled],
.Button_loading {
  cursor: progress;
}

.Button_primary,
.Button_secondary,
.Button_error,
.Button_warning,
.Button_info,
.Button_success {
  --button-color: var(--normalBlack);
}

.Button_primary {
  --button-background-color: var(--primary);
}

.Button_secondary {
  --button-background-color: var(--secondary);
}

.Button_success {
  --button-background-color: var(--green);
}

.Button_info {
  --button-background-color: var(--blue);
}

.Button_warning {
  --button-background-color: var(--yellow);
}

.Button_error {
  --button-background-color: var(--red);
}

.Button_normal {
  --button-background-color: var(--foreground);
  --button-color: var(--background);
}

.Button_contained {
  background-color: var(--button-background-color);
  color: var(--button-color);

  box-shadow: var(--shadow);
}

.Button_outlined {
  background-color: transparent;
  color: var(--button-background-color);
  border: 1px solid var(--button-background-color);
}

.Button_text {
  background-color: transparent;
  color: var(--button-background-color);
}

.Button_fullWidth {
  width: 100%;
}

.Button_small {
  --button-size: 28px;
}

.Button_medium {
  --button-size: 32px;
}

.Button_large {
  --button-size: 36px;
}

.Button_loader {
  width: calc(var(--button-size) - (var(--button-size) / 4));
  height: calc(var(--button-size) - (var(--button-size) / 4));
  background-color: transparent;
  border-radius: 50%;
  box-shadow: var(--shadow-inset);
  position: relative;
  animation: spin 1s linear infinite;

  &:before {
    content: '';
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    position: absolute;
    box-shadow: var(--shadow);
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  &:after {
    content: '';
    content: '';
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    position: absolute;
    box-shadow: var(--shadow);
    border-radius: 50%;
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Button_text > .Button_loader,
.Button_outlined > .Button_loader {
  box-shadow: var(--shadow-white-inset);
  &:before {
    box-shadow: var(--shadow-white);
  }

  &:after {
    box-shadow: var(--shadow-white);
  }
}
