.PasswordField {
}

.PasswordStrongBar {
  display: flex;
  width: 99%;
  height: 6px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 2px;
  gap: 8px;

  & > span {
    border-radius: 4px;
    display: flex;
    height: 100%;
    flex-grow: 1;
    box-shadow: var(--shadow-inset);
    position: relative;
    --password-strong-bar-percent: 0%;

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      border-radius: inherit;
      transition: width 0.2s ease-in-out;
      width: var(--password-strong-bar-percent);
    }
  }
}

.PasswordStrongBar_weak:before {
  background-color: var(--red);
}

.PasswordStrongBar_normal:before {
  background-color: var(--yellow);
}

.PasswordStrongBar_good:before {
  background-color: var(--green);
}

.PasswordStrongBar_strong:before {
  background-color: var(--blue);
}
