.Dot {
  background-color: var(--dot-background-color);
  box-shadow: 0 0 4px 1px var(--dot-background-color);

  border-radius: 50%;
}

.Dot_primary {
  --dot-background-color: var(--primary);
}

.Dot_secondary {
  --dot-background-color: var(--secondary);
}

.Dot_success {
  --dot-background-color: var(--green);
}

.Dot_info {
  --dot-background-color: var(--blue);
}

.Dot_warning {
  --dot-background-color: var(--yellow);
}

.Dot_error {
  --dot-background-color: var(--red);
}

.Dot_transparent {
  --dot-background-color: transparent;
}

.Dot_small {
  width: 6px;
  height: 6px;
}

.Dot_medium {
  width: 8px;
  height: 8px;
}

.Dot_large {
  width: 10px;
  height: 10px;
}
